
# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Production / Build
dist/
dist-ssr/
*.local

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IMPORTANT ---
# Pastikan folder public dan semua aset gambar (.webp, .png, .jpg) 
# TIDAK di-ignore agar muncul di Vercel
!/public/
!*.webp
!*.png
!*.jpg
!*.jpeg
!*.svg
